doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/reset.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/modernizr.js')
    title ציר זמן כנסת פתוחה
  body
    header
      h1 מיני פרוייקט במדעי הרוח הדיגיטליים
    section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src='img/cd-icon-picture.svg', alt='Picture')
        // cd-timeline-img
        .cd-timeline-content
          h2 הצעת חוק: איסור זבל
          p
            | חוק סמכויות לשם שמירה על ביטחון הציבור (תיקון) (סמכות חיפוש לשוטר לשם מניעת אלימות)
          a.cd-read-more(href='#0') Read more
          span.cd-date Jan 14
        // cd-timeline-content
      // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          img(src='img/cd-icon-movie.svg', alt='Movie')
        // cd-timeline-img
        .cd-timeline-content
          h2 Title of section 2
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?
          a.cd-read-more(href='#0') Read more
          span.cd-date Jan 18
        // cd-timeline-content
      // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src='img/cd-icon-picture.svg', alt='Picture')
        // cd-timeline-img
        .cd-timeline-content
          h2 Title of section 3
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.
          a.cd-read-more(href='#0') Read more
          span.cd-date Jan 24
        // cd-timeline-content
      // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src='img/cd-icon-location.svg', alt='Location')
        // cd-timeline-img
        .cd-timeline-content
          h2 Title of section 4
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
          a.cd-read-more(href='#0') Read more
          span.cd-date Feb 14
        // cd-timeline-content
      // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src='img/cd-icon-location.svg', alt='Location')
        // cd-timeline-img
        .cd-timeline-content
          h2 Title of section 5
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.
          a.cd-read-more(href='#0') Read more
          span.cd-date Feb 18
        // cd-timeline-content
      // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          img(src='img/cd-icon-movie.svg', alt='Movie')
        // cd-timeline-img
        .cd-timeline-content
          h2 Final Section
          p This is the content of the last section
          span.cd-date Feb 26
        // cd-timeline-content
      // cd-timeline-block
    // cd-timeline
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='js/main.js')
    // Resource jQuery
